.logo {
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
}

/* .logo_title:hover {
  color: #118c76;
} */

.ant-menu-inline-collapsed-tooltip { display: none; }

