:root {
  /* Color */
  --background-color: #fff;
  --second-color: #d7d7d9;
  --main-color: #0442bf;
  --text-color: #fff;

  --main-red-color: #f25c5c;
  --main-yellow-color: #f2b33d;
  --main-green-color: #34bf8c;
  --main-purple-color: #8243d9;
  --main-sky-color: #7cb9f8;
}

button.active {
  transform: translateX(-100px);
  z-index: 3;
}

nav.active {
  transform: translateX(0);
  transition: 0.5s;
  z-index: 2;
}

.accordion:hover {
  background-color: var(--second-color);
}
/* 
body.active {
  position: relative;
}

.swiper-container.active {
  z-index: 4;
  position: fixed;
  top: 200px;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-container.active .swiper-slide {
  text-align: center;
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swiper_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */