:root {
  /* Color */
  --main-color: #0442bf;
  --second-color: #d7d7d9;
  --text-color: #fff;
  /* --black-color: #111; */

  --main-red-color: #f25c5c;
  --main-yellow-color: #f2b33d;
  --main-green-color: #34bf8c;
  --main-purple-color: #8243d9;
  --main-sky-color: #7cb9f8;
}

html {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#btn {
  background-color: var(--main-color);
  border: none;
  color: var(--text-color);
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

#btn.active {
  transform: translateX(370px);
}

nav {
  background-color: var(--second-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  padding: 1rem;
  transform: translateX(-100%);
  overflow-y: scroll;
}

.accordion {
  cursor: pointer;
  padding: 3rem;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  transition: 0.4s;
  margin-bottom: 1rem;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#overlay {
  background-image: url("../images/overlay.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  font-size: 2rem;
  border-radius: 20px;
}

#search {
  background-image: url("../images/search2.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  font-size: 2rem;
  border-radius: 20px;
}

#search_result {
  overflow-y: scroll;
  width: 100%;
  height: 60%;
}

#maptype {
  background-image: url("../images/map2.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  font-size: 2rem;
  border-radius: 20px;
}

#category_btn {
  background-image: url("../images/category4.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  font-size: 2rem;
  border-radius: 20px;
}

/* .swiper-container {
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swiper_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
