:root {
  --main-color: #4980ee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav.active {
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
