/* CSS는 순서를 정해서 작성하도록 하자 */
/* 
1. position(자리)
2. display(layout 등)
3. width(너비나 높이)
4. margin, padding(여백)
5. background(배경, 폰트, 색상 등)
6. border(테두리)
7. size(크기)
8. decoration(데코) 
*/
:root {
  /* Color */
  --main-color: #00db3f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("images/Home5.jpg");
  background-position: center;
  background-size: cover;
}

.bg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

form {
  position: relative;
  padding: 150px;
  /* width: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.form_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.form_label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 1em;
  color: white;
  font-weight: 800;
}

.form_input {
  margin-top: 10px;
  /* width: 100%; */
  width: 400px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  font-size: 14px;
  color: #101010;
  letter-spacing: 1px;
  line-height: 1.43;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 60px;
  z-index: 1;
}

.logo img {
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  padding-left: 20px;
}

.nav li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.btn {
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sign_up {
  border: 0.8px solid var(--main-color);
  color: var(--main-color);
}

.log_in {
  background: var(--main-color);
}
