:root {
  /* Color */
  --banner-color: #00db3f;
  /* #498c60; */
  --main-color: #447841;
  --header-color: #bfd9c8;
  --header-hover-color: #498c60;
  --bg-color: #d9d4d0;
  --bg2-color: #23e3c9;
  --circle1-color: #498c60;
  --circle2-color: #102618;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
}

/* Banner */
.banner {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content {
  text-align: center;
  max-width: 900px;
}

/* .banner .content h2 {
  margin-top: 100px;
  color: var(--banner-color);
  font-size: 7em;
} */

h2 span {
  margin-top: 100px;
  color: var(--banner-color);
  font-size: 6em;
  position: relative;
  display: inline-flex;
}

h2 span:nth-child(2) {
  color: #fff;
  line-height: 1em;
  overflow: hidden;
  letter-spacing: -1em;
  transition: 0.5s ease-in-out;
  font-size: 2em;
}

.content:hover span:nth-child(2) {
  letter-spacing: 0;
}

.banner .content h3 {
  color: #fff;
}

.banner .content p {
  margin-top: 20px;
  font-size: 2em;
  color: #fff;
}

.btn {
  margin-top: 20px;
  font-size: 1.5em;
  display: inline-block;
  padding: 20px 40px;
  background: var(--banner-color);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 20px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 40px 80px;
}

header.sticky {
  background: var(--header-color);
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .logo img {
  position: relative;
  filter: invert(1);
  max-width: 4em;
  max-height: 3em;
  object-fit: cover;
}

header.sticky .logo img{
  filter: invert(0);
}

header .navigation {
  display: flex;
}

header .navigation li {
  list-style: none;
  padding-left: 50px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

header.sticky .navigation li a {
  color: #111;
}

header .navigation li a:hover {
  color: var(--main-color);
}

header.sticky .navigation li a:hover {
  color: var(--header-hover-color);
}

section {
  padding: 100px;
}

/* About */
.background {
  background: var(--bg-color);
  position: relative;
  min-width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.background .content {
  text-align: center;
}

.titleText {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.titleText span {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: 700;
}

.background p {
  margin-top: 20px;
  font-size: 2em;
}

.background .container {
  margin-top: 80px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  position: relative;
  width: 400px;
  height: 400px;
  display: inline-block;
  border-radius: 50%;
  justify-content: center;
}

.c1 {
  background: var(--circle1-color);
}

.c2 {
  background: var(--circle2-color);
}

.circle i {
  text-align: center;
  margin-top: 50px;
  filter: invert(1);
  font-size: 6em;
}

.circle p {
  margin-top: 40px;
  color: #fff;
}

/* FLOWCHART */
.flowchart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background: var(--bg2-color);
  flex-direction: column;
  min-height: 100vh;
}

.flowchart .content span {
  color: #fff;
}

.flowchart .container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ui p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
}

.login {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
  border-radius: 30px;
  overflow: hidden;
}

.login.active {
  width: 300px;
  height: 550px;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
}

.login .toggle1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: green;
  transition: 0.5s;
  cursor: pointer;
}

.login .toggle1.active {
  background: black;
}

.login .toggle1::before {
  content: "+";
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
}

.login .toggle1.active::before {
  transform: rotate(315deg);
}

.ui_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo_circle {
  display: inline-block;
  margin: 20px;
  padding: 50px;
  border-radius: 50%;
  background: var(--main-color);
}

.logo_circle img {
  filter: invert(1);
  width: 50px;
  height: 50px;
}

.ui_container input {
  margin: 10px;
  width: 150px;
  height: 30px;
}

/* Search */
.search {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
  border-radius: 30px;
  overflow: hidden;
}

.search.active {
  width: 300px;
  height: 550px;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
}

.search .toggle2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: green;
  transition: 0.5s;
  cursor: pointer;
}

.search .toggle2.active {
  background: black;
}

.search .toggle2::before {
  content: "+";
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
}

.search .toggle2.active::before {
  transform: rotate(315deg);
}

.search_bar {
  display: flex;
  margin: 20px;
  border: 1px solid #d9d4d0;
  width: 200px;
  height: 30px;
}

.search_bar i {
  /* width: 30px;
  height: 30px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 15px;
}

.search_result {
  margin-top: 30px;
}

.search_result ul li {
  font-size: 1.5em;
  padding: 10px;
}

/* Detail */
.detail {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
  border-radius: 30px;
  overflow: hidden;
}

.detail.active {
  width: 300px;
  height: 550px;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
}

.detail .toggle3 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: green;
  transition: 0.5s;
  cursor: pointer;
}

.detail .toggle3.active {
  background: black;
}

.detail .toggle3::before {
  content: "+";
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
}

.detail .toggle3.active::before {
  transform: rotate(315deg);
}

.map {
  background: url("images/map.png");
  background-position: center;
  background-size: cover;
  width: 260px;
  height: 200px;
}

.result {
  /* background: ; */
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.result_img {
  display: none;
  
}

.result_img.active {
  display: block;
  width: 220px;
  height: 150px;
  
}

.result p {
  margin: 10px;
  color: #111;
  font-size: 1em;
}

/* FUNCTION */
.function {
  /* background: var(--bg2-color); */
  position: relative;
  min-width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.function .container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* flex-direction: column; */
}

.text .titleText {
  font-size: 3em;
  margin-bottom: 70px;
}

.text p {
  margin-top: 30px;
  font-size: 1.5em;
}

.slider {
  width: 900px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

@media (max-width: 1300px) {
  .circle {
    width: 300px;
    height: 350px;
  }

  .slider {
    width: 700px;
  }
}

@media (max-width: 1152px) {
  .circle {
    width: 300px;
    height: 300px;
  }
  
  .background p {
    margin-top: 20px;
    font-size: 1.5em;
  }

  .slider {
    width: 700px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
  }
}

@media (max-width: 1130px) {
  header {
    padding: 40px 60px;
  }

  header .navigation li {
    padding-right: 60px;
  }

  .banner {
    min-height: 100vh;
  }

  .banner .content h2 {
    margin-top: 150px;
  }

  .slider {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 40px 30px;
  }

  header .navigation li {
    list-style: none;
    padding-left: 10px;
  }
}