.sider {
  background-color: #ddecd5;
}

.logo {
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
}

.logo_title:hover {
  /* color: white; */
  color: #118c76;
}

.menu {
  background-color: #ddecd5;
  padding: 10px;
}
