body {
  margin: 0;
}

.ant-layout-sider-children {
  heigth: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 5px; /* Firefox */
}

.ant-layout-sider-children::-webkit-scrollbar {
  /* display: none; Chrome, Safari, Opera */
  width: 5px;
}

.ant-layout-sider-children::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: rgba(33, 122, 244, 0.1);
  border-radius: 10px;
}

.ant-layout-sider-children::-webkit-scrollbar-track {
  background: "#d6d6d6"; /*스크롤바 뒷 배경 색상*/
}

.ant-table-cell {
  min-width: 130px;
}
